@import "~bootstrap/scss/bootstrap.scss";

body {
  background: green;
  box-sizing: border-box;
}

.card {
  display: inline-block;
  margin: auto;
  padding: 10px;
  padding-top: 180px;
  height: 525px;
  width: 375px;
  border-radius: 20px;
  position: relative;
  font-size: 100px;

  &::before {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 90px;
  }

  &::after {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 90px;
  }

  &.diamond:before,
  &.diamond:after {
    content: " \2666";
    color: red;
  }
  &.heart:before,
  &.heart:after {
    content: " \2665";
    color: red;
  }
  &.spade:before,
  &.spade:after {
    content: " \2660";
  }
  &.club:before,
  &.club:after {
    content: " \2663";
  }
}
