@import "~bootstrap/scss/bootstrap.scss";

body {
  background: green;
  background-image: url("https://i.stack.imgur.com/q02th.jpg");
  box-sizing: border-box;
  font-family: "Ultra", serif;
}

h2 {
  color: white;
}

h2,
p {
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card {
  display: inline-block;
  margin: auto;
  padding: 10px;
  padding-top: 135px;
  height: 425px;
  width: 275px;
  border-radius: 20px;
  position: relative;
  font-size: 100px;

  &::before {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 90px;
  }

  &::after {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 90px;
  }

  &.diamond:before,
  &.diamond:after {
    content: " \2666";
    color: red;
  }
  &.heart:before,
  &.heart:after {
    content: " \2665";
    color: red;
  }
  &.spade:before,
  &.spade:after {
    content: " \2660";
  }
  &.club:before,
  &.club:after {
    content: " \2663";
  }
}

.prompt {
  font-size: 100px;
  text-align: center;
  color: red;
}
